:root{
    --scarlet: #A20D37;
    --ocean-boat-blue: #1077C3;
    --mikado-yellow: #FEC310;
}
@font-face {
    font-family: arabic-bold;
    src: url(../fonts/Qatar2022Arabic-Bold.ttf);
}
@font-face {
    font-family: arabic-heavy;
    src: url(../fonts/Qatar2022Arabic-heavy.ttf);
}

body{
    background: rgb(138,21,56);
    background: linear-gradient(135deg, rgba(138,21,56,1) 0%, rgba(28,1,10,1) 100%);
    color: white;
    font-family: arabic-bold;
    min-height: 100vh;
}
#titulo{
    font-family: arabic-heavy;
    font-size: 2.5rem;
}
#logo-principal{
    width: 150px;
}
table{
    border-collapse: separate;
}
table h5{
    font-size: 1.5rem;
}
table, h5, .sele-nombre{
    color: white;
}
header hr{
    background: rgba(255, 255, 255, 0.25);
}
table hr{
    background-color: white;
    width: 40%;
}
td{
    background-color: var(--scarlet);
    position: relative;
}
td::before{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
.bandera-bombo{
    color: white;
    width: 50px;
    margin-right: 5px;
    border: 1px solid white;
}
.sele-nombre{
    font-size: 1rem;
}
#nota{
    font-size: 0.9rem;
}
#nota a{
    color: var(--mikado-yellow);
}
#boton{
    background-color: var(--ocean-boat-blue);
}
#boton:hover{
    background-color: rgb(13, 96, 155);
}